.sneaker {
  margin-top: 160px;

  &__select {
    &:focus {
      outline: none;
    }
    background: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;

    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
  }

  &__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 600;

    & h1 {
      font-size: 45px;
    }

    & p {
      font-size: 18px;
      color: rgb(121, 121, 121);
    }
  }
  &__row {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;

    padding: 15px;

    border-radius: 15px;
    background-color: #111111;
    transition: 0.2s linear;

    & img {
      width: 100%;
    }

    &:hover {
      background-color: #1b1b1b;
    }
  }

  &__nav {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    & ol {
      display: flex;
      align-items: center;
      gap: 30px;

      & li {
        font-size: 22px;
        cursor: pointer;

        transition: 0.1s linear;
        &:hover {
          background: linear-gradient(
            118.79deg,
            rgb(6, 193, 252) 2.254%,
            rgb(172, 66, 255) 33.741%,
            rgb(255, 0, 214) 57.356%,
            rgb(255, 0, 61) 90.232%
          );
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }

  &__cardText {
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 20px;

    & h2 {
      font-size: 23px;
      font-weight: 600;
    }
  }

  &__cardPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span {
      font-size: 28px;
      font-weight: 600;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }

    & button {
      border: none;
      border-radius: 13px;
      font-weight: 600;
      color: white;
      padding: 10px;
      font-size: 12px;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      transition: 0.5s linear;
    }
  }

  &__btn {
    padding: 15px;
    width: 205px;
    margin-top: 22px;
    border-radius: 17px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: linear-gradient(
      118.79deg,
      rgb(210 6 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    transition: 0.5s linear;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sneaker__nav ol li {
  cursor: pointer;
  padding: 5px 10px;
}

.sneaker__nav ol li.active {
  background: linear-gradient(
    118.79deg,
    rgb(6, 193, 252) 2.254%,
    rgb(172, 66, 255) 33.741%,
    rgb(255, 0, 214) 57.356%,
    rgb(255, 0, 61) 90.232%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.sneaker__nav {
  display: block;
}

.sneaker__select {
  display: none;
}

@media (max-width: 770px) {
  .sneaker__nav {
    & li {
      font-size: 15px;
    }

    & ol {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .sneaker__nav {
    display: none;
  }

  .sneaker__row {
    margin-top: 15px !important;
  }

  .sneaker__select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .sneaker__text {
    & h1 {
      font-size: 35px;
    }

    & p {
      font-size: 12px;
    }
  }
}
