.sneaker {
  &__cnt {
    display: flex;

    gap: 20px;
  }

  &__PriceFiltr {
    width: 100%;
    padding: 15px;
    background-color: #151515;
    border-radius: 19px;

    & span {
      display: flex;
      // gap: 8px;
    }

    & select {
      background: none;
      // font-size: 14px;
      border: none;
      text-align: center;
      color: white;
      padding: 2px;
      border-radius: 19px;

      &:focus {
        outline: none;
      }
    }
  }

  &__cardTitle {
    height: 60px;
  }

  &__CardCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__select {
    &:focus {
      outline: none;
    }
    background: none;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;

    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
  }

  &__text {
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 600;

    & h1 {
      font-size: 45px;
    }

    & p {
      font-size: 18px;
      color: rgb(121, 121, 121);
    }
  }
  &__row {
    // margin-left: calc(-0.8* var(--bs-gutter-x)) !important;
    // margin-right: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: fit-content;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    background-color: #111111;
    transition: 0.2s linear;

    & img {
      width: 100%;
    }

    // Hover для устройств с более широким экраном
    @media (min-width: 768px) {
      &:hover {
        background-color: #1b1b1b;
      }
    }

    // Active для мобильных устройств
    @media (max-width: 767px) {
      &:active {
        background-color: #1b1b1b;
      }
    }
  }

  &__nav {
    margin-top: 30px !important;
    display: flex;
    justify-content: center;
    & ol {
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 30px;

      & li {
        font-size: 22px;
        cursor: pointer;

        transition: 0.1s linear;
        &:hover {
          background: linear-gradient(
            118.79deg,
            rgb(6, 193, 252) 2.254%,
            rgb(172, 66, 255) 33.741%,
            rgb(255, 0, 214) 57.356%,
            rgb(255, 0, 61) 90.232%
          );
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }

  &__cardText {
    display: flex;
    flex-direction: column;
    justify-self: start;
    margin-top: 20px;

    & h2 {
      height: 50px;
      font-size: 23px;
      font-weight: 600;
    }
  }

  &__cardPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span {
      font-size: 28px;
      font-weight: 600;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }

    & button {
      border: none;
      border-radius: 13px;
      font-weight: 600;
      color: white;
      padding: 10px;
      font-size: 12px;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      transition: 0.5s linear;
    }
  }

  &__btn {
    padding: 12px;
    border-radius: 14px;
    font-size: 15px;
    color: white;
    width: 300px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    background-size: 200% 200%;
    animation: gradientShift 6s linear infinite;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sneaker__nav ol li {
  cursor: pointer;
  padding: 5px 10px;
}

.sneaker__nav ol li.active {
  background: linear-gradient(
    118.79deg,
    rgb(6, 193, 252) 2.254%,
    rgb(172, 66, 255) 33.741%,
    rgb(255, 0, 214) 57.356%,
    rgb(255, 0, 61) 90.232%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.sneaker__nav {
  display: block;
}

.sneaker__select {
  display: none;
}

.notification {
  position: fixed;
  top: 20px;
  left: 20px;

  // background-color: #4CAF50;
  background: linear-gradient(
    118.79deg,
    rgb(210, 6, 252) 2.254%,
    rgb(172, 66, 255) 33.741%,
    rgb(255, 0, 214) 57.356%,
    rgb(255, 0, 61) 90.232%
  );
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 3s forwards;
  cursor: pointer;
}



@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@media (max-width: 1200px) {
  .sneaker {
    &__PriceFiltr {
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .sneaker {
    &__cnt {
      gap: 0;
    }
  }
}

@media (max-width: 770px) {
  .sneaker__nav {
    & li {
      font-size: 15px;
    }

    & ol {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .sneaker__nav {
    display: none;
  }

  .sneaker__row {
    // margin-top: 15px !important;
  }

  .sneaker__select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .sneaker__text {
    & h1 {
      font-size: 35px;
    }

    & p {
      font-size: 12px;
    }
  }
}
