.SlideBarCatalog {
  background-color: #151515;
  padding: 40px 100px 0px 30px;
  border-radius: 19px;
  width: 100%;
  height: 600px;

  &__title {
    font-size: 25px;
    font-weight: 600;
  }

  &__filterList {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__filterItem {
    display: flex;
    gap: 10px;

    & input {
      width: 15px;
    }

    & label {
      font-size: 19px;
    }
  }
}

@media (max-width: 1000px) {
  .SlideBarCatalog {
    display: none;
  }
}
