.SlideBarCatalog {
  background-color: #151515;
  padding: 30px 100px 30px 30px;
  border-radius: 19px;
  width: 100%;

  &__title {
    font-size: 25px;
    font-weight: 600;
  }

  &__filterList {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__filterItem {
    display: flex;
    gap: 10px;

    & input {
      width: 15px;
    }

    & label {
      font-size: 19px;
    }
  }
}

.SlideBarCatalog__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1000px) {
  .SlideBarCatalog {
    display: none;
  }
}
