.newFeautered {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__sliderImg {

    & img {
      border-radius: 19px;
    }
  }

  &__container {
    margin-top: 100px;
  }

  &__img {
    margin-top: 50px;
    width: 100%;
  }

  &__slider {
    & img {
      border-radius: 19px;
      width: 100%;
    }
    max-width: 100%;
    width: 600px;
    border-radius: 19px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & h1 {
      //   width: 500px;
      font-weight: bold;
      font-size: 46px;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
      background-size: 200% 200%;
      animation: gradientAnimation 3s linear infinite;
    }

    & button {
      padding: 15px;
      width: 205px;
      border-radius: 17px;
      font-size: 17px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      background: linear-gradient(
        118.79deg,
        rgb(210, 6, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(237, 28, 224) 57.356%,
        rgb(177, 0, 255) 90.232%
      );
      background-size: 200% 200%;
      animation: gradientShift;
      border: none;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #b669be; 
  border-radius: 50%; 
  padding: 10px; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffffff; 
}

.swiper-pagination-bullet {
  background-color: #ffffff; 
}

.swiper-pagination-bullet-active {
  background-color: #b669be; 
}

.swiper-pagination {
  bottom: 10px; 
}


@media (max-width: 1000px) {
  .newFeautered {

    &__slider {
      display: none;
    }
  }
}

@media (max-width: 996px) {
  .newFeautered {
   justify-content: center; 

   &__title {
    text-align: center;
    font-size: 36px;
    align-items: center;
   }
  }
}