.basketCard {
  margin-top: 30px;
  background-color: #151515;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 600px;
  padding: 22px;
  gap: 30px;
  max-width: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #1b1b1b;
  }


  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;

    & button {
      background: none;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 20px;
    }
  }

  &__overlay {
    display: flex;
    gap: 10px;
  }

  &__titleBl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    // justify-content: space-between;
  }

  &__priceBlock {
    gap: 3px;
    display: flex;
    align-items: center;
  }

  &__removeButton {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__price {
    display: flex;
    width: 103px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__image {
    width: 110px;
    // max-width: 100%;
  }

  &__emty {
    justify-self: center;
    align-items: center;
    // margin-top: 40px;
    display: flex;
    height: 40vh;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    & span {
      font-size: 25px;
    }

    & button {
      width: 300px;
      max-width: 100%;
      border: none;
      font-size: 17px;
      padding: 14px;
      border-radius: 17px;
      font-weight: 600;
      color: white;
      background: linear-gradient(
        118.79deg,
        rgb(210, 6, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(237, 28, 224) 57.356%,
        rgb(177, 0, 255) 90.232%
      );
      background-size: 200% 200%;
      animation: gradientShift 6s linear infinite;
    }
  }
}

.basketCardInfo {
  margin-top: 30px;
  background-color: #151515;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 600px;
  padding: 22px;
  gap: 30px;
  max-width: 100%;

  &__title {
    font-size: 19px;
    font-weight: 600;
  }

  &__price {
    font-size: 19px;
    font-weight: 600;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

.basketButton {
  margin-top: 30px;
  border: none;
  width: 100%;
  font-size: 17px;
  padding: 15px;
  border-radius: 17px;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    118.79deg,
    rgb(210, 6, 252) 2.254%,
    rgb(172, 66, 255) 33.741%,
    rgb(237, 28, 224) 57.356%,
    rgb(177, 0, 255) 90.232%
  );
  background-size: 200% 200%;
  animation: gradientShift 6s linear infinite;
}

.basketCard__container {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

.basketCard__removing {
  opacity: 0;
  transform: translateX(-90%);
}

.basketCard__removeButton {
  width: 20px;
  // font-size: 22px;
  // color: white;
  // border: none;
  // cursor: pointer;
  // transition: background-color 0.3s;
}

.basketCard__empty {
  justify-self: center;
  align-items: center;
  // margin-top: 40px;
  display: flex;
  height: 40vh;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  & span {
    font-size: 25px;
  }

  & button {
    width: 300px;
    max-width: 100%;
    border: none;
    font-size: 17px;
    padding: 14px;
    border-radius: 17px;
    font-weight: 600;
    color: white;
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    background-size: 200% 200%;
    animation: gradientShift 6s linear infinite;
  }
}

@media (max-width: 767px) {
  .basketItem__title {
    margin-top: 28px;
  }

  .basketCard {
    &__title {
      font-size: 15px;
    }

    &__image {
      width: 120px;
    }
  }
}

@media (max-width: 509px) {
  .basketButton {
    font-size: 13px;
  }

  .basketCard {
    &__title {
      text-align: center;
      font-size: 15px;
    }

    &__image {
      width: 110px;
    }

    &__price {
      font-size: 17px;
    }
  }
}

@media (max-width: 400px) {
  .basketCard {
    &__title {
      font-size: 14px;
    }

    &__image {
      width: 90px;
    }
  }
}

@media (max-width: 344px) {
  .basketCard {
    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 20px;
    }
  }
}

@media (max-width: 302px) {
  .basketCard {
    &__title {
      font-size: 17px;
    }

    &__price {
      font-size: 17px;
    }
  }
}
