.basketCard {
  margin-top: 20px;
  background-color: #151515;
  border-radius: 19px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  max-width: 100%;
  transition: background-color 0.2s ease-in-out;
  position: relative; /* Для абсолютного позиционирования кнопки удаления */

  &:hover {
    background-color: #1b1b1b;
  }

  &__image {
    width: 100px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    word-break: break-word; /* Обработка длинных заголовков */
  }

  &__size {
    font-size: 14px;
    color: #888;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;

    & button {
      background-color: #292929;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: bold;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #202020;
      }
    }

    & span {
      font-size: 16px;
      color: white;
      font-weight: 500;
      min-width: 30px;
      text-align: center;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__removeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для видимости */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5555;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.promoCode {
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__inputWrapper {
    display: flex;
    align-items: center;
    background-color: #111;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    max-width: 100%;
  }

  &__icon {
    margin-right: 10px;
    color: white;
  }

  &__input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    padding: 10px;

    &::placeholder {
      color: #888;
    }
  }

  &__applyButton {
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #202020;
    }
  }
}

.basketCardInfo {
  margin-top: 20px;
  background-color: #151515;
  border-radius: 19px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

.basketButton {
  margin-top: 20px;
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    118.79deg,
    rgb(210, 6, 252) 2.254%,
    rgb(172, 66, 255) 33.741%,
    rgb(237, 28, 224) 57.356%,
    rgb(177, 0, 255) 90.232%
  );
  background-size: 200% 200%;
  animation: gradientShift 6s linear infinite;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background: linear-gradient(
      118.79deg,
      rgb(230, 26, 272) 2.254%,
      rgb(192, 86, 275) 33.741%,
      rgb(257, 48, 244) 57.356%,
      rgb(197, 20, 275) 90.232%
    );
  }
}

.basketCard__container {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

.basketCard__removing {
  opacity: 0;
  transform: translateX(-90%);
}

.basketCard__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  gap: 20px;

  & span {
    font-size: 24px;
    color: #888;
  }

  & button {
    margin-top: 20px;
    border: none;
    width: 100%;
    font-size: 17px;
    padding: 15px;
    border-radius: 17px;
    font-weight: 600;
    color: white;
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    background-size: 200% 200%;
    animation: gradientShift 6s linear infinite;

    &:hover {
      background: linear-gradient(
        118.79deg,
        rgb(230, 26, 272) 2.254%,
        rgb(192, 86, 275) 33.741%,
        rgb(257, 48, 244) 57.356%,
        rgb(197, 20, 275) 90.232%
      );
    }
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
  .basketItem__title {
    margin-top: 20px;
    font-size: 24px;
  }

  .basketCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    &__image {
      width: 100%;
      height: 140px;
    }

    &__text {
      width: 100%;
    }

    &__title {
      font-size: 16px;
    }

    &__price {
      font-size: 16px;
    }
  }
}

@media (max-width: 509px) {
  .basketButton {
    font-size: 14px;
    padding: 12px;
  }

  .basketCard {
    &__controls {
      & button {
        width: 28px;
        height: 28px;
        font-size: 16px;
      }

      & span {
        font-size: 14px;
      }
    }

    &__title {
      font-size: 15px;
    }

    &__size {
      font-size: 13px;
    }

    &__price {
      font-size: 15px;
    }
  }

  .basketCardInfo {
    &__title,
    &__price {
      font-size: 18px;
    }
  }
}

@media (max-width: 400px) {
  .basketCard {
    &__title {
      font-size: 14px;
    }

    &__price {
      font-size: 14px;
    }
  }
}
