.basketCard {
  margin-top: 30px;
  background-color: #151515;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 600px;
  padding: 22px;
  gap: 30px;
  max-width: 100%;

  &__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__image {
    width: 140px;
    // max-width: 100%;
  }
}

.basketButton {
  margin-top: 30px;
  border: none;
  width: 100%;
  font-size: 17px;
  padding: 15px;
  border-radius: 17px;
  font-weight: 600;
  color: white;
  background: linear-gradient(118.79deg, rgb(210, 6, 252) 2.254%, rgb(172, 66, 255) 33.741%, rgb(237, 28, 224) 57.356%, rgb(177, 0, 255) 90.232%);
    background-size: 200% 200%;
    animation: gradientShift 6s linear infinite;
}

@media (max-width: 688px) {
  .basketCard {
    flex-direction: column;

    &__image {
      width: 100%;
    }
  }
}

@media (max-width: 344px) {
  .basketCard {
    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 20px;
    }
  }
}

@media (max-width: 302px) {
  .basketCard {
    &__title {
      font-size: 17px;
    }

    &__price {
      font-size: 17px;
    }
  }
}
