.basketCard {
  margin-top: 30px;
  background-color: #151515;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 600px;
  padding: 22px;
  gap: 30px;
  max-width: 100%;


  &__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
  }

  &__image {
    width: 140px;
    // max-width: 100%;
  }
}


@media (max-width:688px) {
  .basketCard {
    flex-direction: column;

    &__image {
      width: 100%;
    }
  }
}

@media (max-width:344px) {
  .basketCard {

    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 20px;
    }
  }

}

@media (max-width:302px) {
  .basketCard {

    &__title {
      font-size: 17px;
    }

    &__price {
      font-size: 17px;
    }
  }
}
