.checkCont {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;

  &__title {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input {
      width: 100%;
      max-width: 100%;
      background-color: #111;
      border: none;
      padding: 17px;
      font-size: 20px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;

      &:focus {
        outline: none;
      }
    }
  }
}

.modal-header .btn-close {
  color: white !important;
}

.checkoutPage {
  width: 100%;
  &__card {
    background-color: #151515;
    border-radius: 19px;
    padding: 20px;
  }

  &__title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;
  }

  &__items {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #2a2a2a;

    &:last-child {
      border-bottom: none;
    }
  }

  &__imageee {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__image {
    width: 80px;
    height: auto;
    border-radius: 10px;
  }

  &__titleBl {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__itemTitle {
    font-size: 16px;
    color: white;
    font-weight: 500;
  }

  &__itemSize {
    font-size: 14px;
    color: #888;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

  &__itemQuantity {
    font-size: 14px;
    color: #888;
  }

  &__itemPrice {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }

  &__priceWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__oldPrice {
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
  }

  &__newPrice {
    font-size: 19px;
    font-weight: 600;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__confirmButton {
    width: 100%;
    padding: 15px;
    border-radius: 17px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    background-size: 200% 200%;
    animation: gradientShift 6s linear infinite;

    &:hover {
      background-color: #202020;
    }

    &:disabled {
      background-color: #444;
      cursor: not-allowed;
    }
  }
}

.promoCode {
  &__form {
    margin-bottom: 20px;
  }

  &__inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #111;
    border-radius: 10px;
    padding: 10px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #888;
    }
  }

  &__applyButton {
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background: #202020;
    }
  }
}

.payment-modal {
  &__header {
    background-color: #151515;
    border-bottom: none;
  }

  &__title {
    color: white;
    font-size: 20px;
  }

  &__body {
    background-color: #151515;
    color: white;
    padding: 25px;
  }

  &__order-summary {
    margin-bottom: 20px;
  }

  &__summary-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__order-items {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  &__order-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #2a2a2a;

    &:last-child {
      border-bottom: none;
    }
  }

  &__item-image-container {
    position: relative;
    margin-right: 15px;
  }

  &__item-image {
    width: 60px;
    height: auto;
    border-radius: 8px;
  }

  &__item-quantity {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #292929;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  &__item-details {
    flex: 1;
  }

  &__item-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  &__item-size {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
  }

  &__item-price {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  &__order-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
  }

  &__priceWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__oldPrice {
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
  }

  &__total-price {
    font-size: 19px;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__form-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  &__card-element {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #111;
  }

  &__submit-button {
    padding: 15px;
    border-radius: 17px;
    font-size: 17px;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    background-size: 150% 150%; /* Уменьшен диапазон для мягкости */
    animation: gradientShift 10s ease-in-out infinite; /* Замедлена и сглажена анимация */
    transition: all 0.3s ease; /* Плавный переход для ховера */

    &:hover {
      background: linear-gradient(
        118.79deg,
        rgb(190, 5, 230) 2.254%,
        rgb(150, 50, 230) 33.741%,
        rgb(210, 20, 200) 57.356%,
        rgb(150, 0, 230) 90.232%
      ); /* Чуть темнее градиент при ховере */
      background-size: 150% 150%;
      transform: translateY(-2px); /* Лёгкий подъём для интерактивности */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для глубины */
    }

    &:active {
      transform: translateY(0); /* Возврат при клике */
      box-shadow: none; /* Убираем тень для эффекта нажатия */
    }
  }

  .ElementsApp .InputElement.is-invalid {
    color: white !important;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1005px) {
  .checkoutPage {

    &__title {
      font-size: 37px;
    }
  }
}

@media (max-width: 992px) {
  .checkCont {
    flex-direction: column;
  }
}

@media (max-width: 796px) {
  .userInfo {
    &__title {
      text-align: center;
    }
  }

  .checkoutPage__title {
    margin-top: 28px;
  }

  .checkoutPage {
    &__itemTitle {
      font-size: 20px;
    }

    &__image {
      width: 120px;
    }

    &__total {
      justify-content: center;
    }
  }

  .promoCode {
    &__inputWrapper {
      flex-direction: column;
      align-items: stretch;
    }

    &__applyButton {
      width: 100%;
      padding: 12px;
    }
  }
}

@media (max-width: 576px) {
  .payment-modal {
    &__body {
      padding: 15px;
    }

    &__order-item {
      padding: 8px;
    }

    &__item-image {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 509px) {
  .checkoutPage {
    &__title {
      text-align: center;
      font-size: 20px;
    }

    &__image {
      width: 110px;
    }

    &__itemTitle {
      font-size: 14px;
      text-align: center;
    }
  }

  .userInfo {
    &__titleAdres {
      text-align: center;
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .checkoutPage {
    &__title {
      font-size: 27px;
    }

    &__image {
      width: 90px;
    }
  }
}
