.checkCont {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;

  &__title {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input {
      width: 100%;
      max-width: 100%;
      background-color: #151515;
      border: none;
      padding: 17px;
      font-size: 20px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;

      &:focus {
        outline: none;
      }
    }
  }
}

.checkoutPage {
  width: 100%;
  &__title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;
  }
  &__items {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    background-color: #151515;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    gap: 30px;
    max-width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img {
      width: 90px;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__itemTitle {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__itemPrice {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__total {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #151515;
    border-radius: 19px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding: 22px;
    gap: 10px;
    max-width: 100%;

    & span {
      font-size: 19px;
      font-weight: 600;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__confirmButton {
    margin-top: 20px;
    border: none;
    width: 100%;
    font-size: 17px;
    padding: 15px;
    border-radius: 17px;
    font-weight: 600;
    color: white;
    background: linear-gradient(
      118.79deg,
      rgb(210, 6, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(237, 28, 224) 57.356%,
      rgb(177, 0, 255) 90.232%
    );
    background-size: 200% 200%;
    animation: gradientShift 6s linear infinite;
  }
}

@media (max-width: 796px) {
  .userInfo {
    &__title {
      text-align: center;
    }
  }

  .checkCont {
    flex-direction: column;
  }
  .checkoutPage__title {
    margin-top: 28px;
  }

  .checkoutPage {
    &__itemTitle {
      font-size: 20px;
    }

    &__image {
      width: 120px;
    }
    &__total {
      justify-content: center;
    }
  }
}

@media (max-width: 509px) {
  .checkoutPage {
    &__title {
      text-align: center;
      font-size: 20px;
    }

    &__image {
      width: 110px;
    }

    &__price {
      font-size: 17px;
    }

    &__itemTitle {
      font-size: 14px;
      text-align: center;
    }
  }

  .userInfo {
    &__titleAdres {
      text-align: center;
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .checkoutPage {
    &__title {
      font-size: 27px;
    }

    &__image {
      width: 90px;
    }
  }
}
