.profile {

    &__dataBlock {
        background-color: #151515;
        border-radius: 19px;
        width: 400px;
        padding: 15px;
        display: flex;
        gap: 15px;

        & span {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 16px;
        }

        & img {
            width: 80px;
            border-radius: 90%;
        }
    }

    &__data {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
}