.SneakerDetail {
  &__img {
    width: 500px;

    & img {
      width: 100%;
    }
  }

  &__pageCont {
    display: flex;
    gap: 20px;
  }

  &__cardPrice {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 19px;
    background-color: #151515;
    height: fit-content;
    width: 270px;

    & span {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }

    & button {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      // background: linear-gradient(
      //   118.79deg,
      //   rgb(210, 6, 252) 2.254%,
      //   rgb(172, 66, 255) 33.741%,
      //   rgb(237, 28, 224) 57.356%,
      //   rgb(177, 0, 255) 90.232%
      // );
      background-color: #292929;
      background-size: 200% 200%;
      animation: gradientShift;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 600;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #202020;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 70%;

    & h2 {
      font-weight: bold;
      font-size: 30px;
      
    }
  }

  &__aboutItem {
    margin-top: 60px;
  }
}
