.SneakerDetail {
  &__img {
    width: 500px;

    & img {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__pageCont {
    display: flex;
    gap: 20px;
  }

  &__cardPrice {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 19px;
    background-color: #151515;
    height: fit-content;
    width: 270px;

    & span {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }

    & button {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      // background: linear-gradient(
      //   118.79deg,
      //   rgb(210, 6, 252) 2.254%,
      //   rgb(172, 66, 255) 33.741%,
      //   rgb(237, 28, 224) 57.356%,
      //   rgb(177, 0, 255) 90.232%
      // );
      background-color: #292929;
      background-size: 200% 200%;
      animation: gradientShift;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 600;
      transition: 0.1s ease-in;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #202020;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 70%;

    & h2 {
      font-weight: bold;
      font-size: 30px;
    }
  }

  &__aboutItem {
    // margin-top: 60px;
  }

  &__cardRating {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  &__sizes {
    display: flex;
    gap: 10px;
  }

  &__size {
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    background-color: #151515;
    transition: 0.1s linear;

    & span {
      color: white;
    }

    &:hover,
    &.active {
      background-color: #202020;

      & span {
        background: linear-gradient(
          118.79deg,
          rgb(6, 193, 252) 2.254%,
          rgb(172, 66, 255) 33.741%,
          rgb(255, 0, 214) 57.356%,
          rgb(255, 0, 61) 90.232%
        );
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  &__cardRatingStar {
    display: flex;
    gap: 5px;
  }

  &__aboutItem {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 19px;
    background-color: #151515;
    height: fit-content;
    width: fit-content;
    max-width: 100%;

    & h3 {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }

    & p {
      max-width: 100%;
      width: 950px;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__choiceBtns {
    display: flex;
    gap: 15px;
    // margin-bottom: 15px;
  }

  &__choiceBtn {
    padding: 15px;
    background-color: #151515;
    border-radius: 19px;
    cursor: pointer;
    font-weight: 600;

    &:hover,
    &.active {
      & span {
        background: linear-gradient(
          401deg,
          rgb(10, 193, 252) 2.254%,
          rgb(205, 66, 255) 33.741%,
          rgb(255, 0, 214) 57.356%,
          rgb(255, 0, 61) 90.232%
        );
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    // Добавляем transition на span
    & span {
      transition: color 0.2s ease;
    }
  }

  &__reviews {
    border-radius: 19px;
    background-color: #151515;
    height: fit-content;
    width: 900px;
    padding: 20px;
    max-width: 100%;
    & h4 {
      font-size: 30px;
      font-weight: bold;
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: -6px !important;
    }
  }

  &__reviewsItem {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 19px;
    background-color: #202020;
    height: fit-content;
    width: 100%;
    // width: fit-content;
    max-width: 100%;
  }

  &__reviewsItemImg {
    & img {
      width: 55px;
      border-radius: 40px;
    }
  }

  &__reviewsItemText {
    display: flex;
    flex-direction: column;
  }

  &__reviewForm {
    width: 100%;
    display: flex;
    gap: 10px;
    & input {
      color: white;
      width: 100%;
      border-radius: 19px;
      border: 1px solid rgb(35, 35, 35);
      background: none;
      padding: 10px;
      height: 45px;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: rgb(137, 137, 137);
      }

      &:focus {
        outline: none;
      }
    }

    & button {
      border-radius: 40%;
      width: 44px;
      background: linear-gradient(
        118.79deg,
        rgb(210, 6, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(237, 28, 224) 57.356%,
        rgb(177, 0, 255) 90.232%
      );
      background-size: 200% 200%;
      animation: gradientShift;
      border: none;
    }
  }

  &__likes {
    display: flex;
    flex-direction: column;
  }

  &__likeTitle {
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
    -webkit-background-clip: text;
    // color: transparent;
  }

  &__authWarning {
    text-align: center;
    padding: 20px;
    background-color: #191919;
    border-radius: 8px;
    margin: 20px 0;
  }

  &__authLink {
    color: #007bff;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1187px) {
  .SneakerDetail {
    &__text {
      justify-content: start;
      gap: 20px;
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  .SneakerDetail {
    &__img {
      width: 100%;
    }
    &__pageCont {
      flex-direction: column;
    }
    &__text {
      width: 100%;
    }

    &__cardPrice {
      width: auto;
    }

    &__aboutItem {
      // margin-top: 20px;
    }
  }
}
