.header {
  // background: url(./bgk.svg) no-repeat right 180px center;
  // height: 1117px;
  padding: 25px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navBlock {
    width: 1000px;
    // gap: 150px;
    padding: 16px;
    background-color: #151515;
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ol {
      display: flex;
      gap: 20px;
      align-items: center;

      & li {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        transition: 0.1s linear;

        &:hover {
          background: linear-gradient(
            118.79deg,
            rgb(6, 193, 252) 2.254%,
            rgb(172, 66, 255) 33.741%,
            rgb(255, 0, 214) 57.356%,
            rgb(255, 0, 61) 90.232%
          );
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }

  &__navIc {
    align-items: center;
    gap: 10px;
    display: flex;
    & img {
      cursor: pointer;
    }
  }
}

@media (max-width: 1260px) {
  .header__navBlock {
    width: 800px;
  }
}

@media (max-width: 989px) {
  .header__navBlock {
    width: 600px;
  }
  .header__navBlock ol li {
    font-size: 15px;
  }
}

@media (max-width: 774px) {
  .header__navBlock {
    display: none;
  }
}
