.header {
  padding: 25px;
  z-index: 1000;
  position: fixed;
  background-color: black;
  box-shadow: #0b0a0a 0px 10px 10px 0px;
  width: 100%;
  transition: transform 0.3s ease-in-out;

  // &--visible {
  //   transform: translateY(0);
  // }

  &--hidden {
    transform: translateY(-100%);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navBlock {
    width: 1000px;
    padding: 16px;
    background-color: #151515;
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & nav {
      ol {
        display: flex;
        gap: 20px;
        align-items: center;

        & a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          transition: 0.1s linear;

          &:hover li,
          &.active li {
            background: linear-gradient(
              118.79deg,
              rgb(6, 193, 252) 2.254%,
              rgb(172, 66, 255) 33.741%,
              rgb(255, 0, 214) 57.356%,
              rgb(255, 0, 61) 90.232%
            );
            -webkit-background-clip: text;
            color: transparent;
          }

          & li {
            cursor: pointer;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &__navIc {
    align-items: center;
    gap: 10px;
    display: flex;
    & img {
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        transform: scale(1.1);
        transition: 0.2s linear;
      }
    }
  }

  &__navIcon {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(41, 41, 41);
    padding: 9px;
    transition: transform 0.4s ease;
    & svg {
      fill: currentColor; /* Используем currentColor для корректного применения цвета */
      transition: fill 0.4s ease; /* Плавный переход для цвета */
    }

    &:hover {
      color: transparent; /* Делаем текст прозрачным, чтобы видеть градиент */
      background-clip: text; /* Ограничиваем фон текстом */
      -webkit-background-clip: text;
    }

    &:hover svg path {
      fill: url(#gradient); /* Используем градиент для заливки */
    }
  }
}

@media (max-width: 1260px) {
  .header__navBlock {
    width: 800px;
  }
}

@media (max-width: 989px) {
  .header__navBlock {
    width: 600px;
  }
  .header__navBlock ol li {
    font-size: 15px;
  }
}

@media (max-width: 774px) {
  .header__navBlock {
    display: none;
  }
}
