.burger_menu {
  display: none;
  position: relative;
  z-index: 5000; /* Это значение выше, чем у размытого фона */

  &__bavIcon {
    justify-content: end;
  }
}

.burger__container {
  width: 75%;
  height: 400vh;
  position: fixed;
  top: 0;
  right: -85%;
  visibility: hidden;
  transition: right 0.3s ease, visibility 0.3s ease;
  z-index: 5001; /* Это значение выше размытого фона и бургер-кнопки */
  background: #111111;
}

.burger__container.open {
  right: 0; /* Положение меню при открытии */
  visibility: visible;
}

.burger__content {
  padding: 90px 35px 0px 0px;
  height: 100%;
  color: white;
}

.burgerMenu_list {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 15px;

  a {
    text-decoration: none;
  }

  li {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
  }
}

#burger__btn {
  padding: 1.25rem 1.25rem;
  background: none;
  border: 0.125rem solid #ffeefe;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  position: relative;
  z-index: 5002;
  margin-left: auto;
}

#burger__btn span {
  position: absolute;
  width: 1.7rem;
  height: 2px;
  background: #ffeefe;
  transition: transform 0.3s;
}

#burger__btn span::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: inherit;
  height: 2px;
  background: inherit;
  transition: all 0.3s;
}

#burger__btn span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  transition: opacity 0.3s;
}

#burger__btn .btn-open-animation {
  width: 2rem;
  transform: rotate(45deg);
}

#burger__btn .btn-open-animation::after {
  transform: rotate(90deg);
  top: 0;
}

#burger__btn .btn-open-animation::before {
  opacity: 0;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Покрываем весь экран */
  height: 400vh;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  backdrop-filter: blur(10px); /* Размытие */
  z-index: 4000; /* Фон позади бургер-меню */
  opacity: 0; /* Изначально прозрачный */
  visibility: hidden; /* Скрыт */
  pointer-events: none; /* Не блокируем клики, если скрыт */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Анимация появления */
}

.blur-background.show {
  opacity: 1; /* Видимая часть */
  visibility: visible; /* Показываем фон */
  pointer-events: auto; /* Разрешаем клики */
}

/* Размытый фон */
// .blur-background {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background: rgba(0, 0, 0, 0.5);
//   backdrop-filter: blur(10px);
//   z-index: 5000;
//   visibility: hidden;
//   opacity: 0;
// }

.blur-background.visible {
  visibility: visible;
  opacity: 1;
}

.header__navIc {
  display: flex;
  gap: 10px;
}

@media (max-width: 774px) {
  .burger_menu {
    display: block;
  }
}
