.footer {
  padding: 25px 0px 129px 0px;
  &__container {
    display: flex;
    justify-content: start;
    gap: 60px;
  }

  &__dowlandIcons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }

  &__linkTitle {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 22px;
  }

  &__links {
    & ol {
      padding: 0 !important;
      display: flex;
      flex-direction: column;
      gap: 8px;
      & li {
        cursor: pointer;
        font-size: 18px;
        color: #a7a7a7;
        font-weight: 600;
        transition: 0.2s ease;
        &:hover {
          margin-bottom: 6px;
          margin-left: 5px;
          color: white;
        }
      }
    }
  }

  &__link {
    color: #a7a7a7 !important;
  }

  &__icons {
    align-items: center;
    gap: 20px;
    display: flex;
  }
}

@media (max-width: 1188px) {
  .footer {
    padding: 60px 0px 129px 0px;

    &__container {
      flex-wrap: wrap;
      gap: 100px;
      justify-content: start;
    }
  }
}
