.prom {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  & h1 {
    text-transform: uppercase;
    font-weight: 600;
    width: 600px;
    font-size: 56px;
    line-height: 80px;

    & span {
      background: linear-gradient(
        118.79deg,
        rgb(6, 193, 252) 2.254%,
        rgb(172, 66, 255) 33.741%,
        rgb(255, 0, 214) 57.356%,
        rgb(255, 0, 61) 90.232%
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  & p {
    font-size: 25px;
    width: 554px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(121, 121, 121);
  }

  &__buttons {
    display: flex;
    gap: 30px;

    & button {
      padding: 15px;
      width: 205px;

      border-radius: 17px;
      font-size: 17px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__shopBtn {
    border: none;
    background: linear-gradient(
      118.79deg,
      rgb(6, 193, 252) 2.254%,
      rgb(172, 66, 255) 33.741%,
      rgb(255, 0, 214) 57.356%,
      rgb(255, 0, 61) 90.232%
    );
  }

  &__collectiobBtn {
    background: none;
    border: 2px solid rgb(254 1 214);
  }
}
